/*Import font*/
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
  font-size:140%;
  width: 100%;
  height: 100vh;
  background-image: url("img/homepage.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  overflow: hidden;
  color: #ffffff;
  transition: all 0.1s;
  font-family: 'Lato', sans-serif;
}
/*body:before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.3;
}*/
a,a:visited, a:active, a:hover{
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

/*Header-style*/
.navbar-default{
  height: 10%;
  margin: 0;
  border: 0;
  background-color: transparent;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
  color: #ffffff;
}
.navbar-default .navbar-brand{
  font-size: 1.3em;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>.active>a:hover{
  color: #c62828;
  background-color: transparent;
  transition: all 0.2s;
}
.navbar-default .navbar-nav>.active>a{
  color: #b71c1c;
  background-color: transparent;
}
.header{
  padding: 10px 30px;
  font-size: 1.3em;
  position: relative;
  z-index: 2;
}

.header .logo{
  color: #ffffff;
  font-size: 3em;
  font-weight: bold;
}
.header ul{
  font-weight: 500;
  font-size: 0.8em;
  position: relative;
}
.header .nav-button{
  border: 0;
  width: 50px;
}

/*Body-Content-Style*/
.content{
  height: 85%;
  position: relative;
  z-index: 1;
  margin: 0;
  width: 100%;
}
.content-logo{
  position: absolute;
  top: 15%;
  left: 5%;
  font-size: 3em;
  font-family: 'Fenix', serif;
}
.content, .carousel-item, #carousel-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#carousel-content{
  width: 50%;
  height: 80%;
  position: relative;
  padding: 50px 80px;
  justify-content: center;
}
#carousel-content .carousel-indicators li {
  margin: 0 3px;
  opacity: 0.7;
}
.carousel-item .title{
  font-size: 1.7em;
}
.carousel-item .title img{
  margin: 10px;
  display: inline-block;
  width: 30px;
}
.carousel-item .text-content{
  margin: -20px 20px 0 20px;
  padding: 0 10px;
  word-wrap: break-word;
  font-size: 1.1em;
}
.carousel-control {
  height: 20%;
  background-image:none !important;
  filter:none !important;
  top: 45%;
}
.carousel-control .glyphicon.arrow-icon{
  color: #e53935;
}
#carousel-content .left-arrow{
  left: -5%;
}
#carousel-content .right-arrow{
  left:90%;
}

.content .signup-btn{
  width: 200px;
  height: 10%;
  background-color: #e53935;
  font-size: 20px;
}
/*Footer-Style*/
footer{
  background-color: transparent;
  height: 5%;
  position: relative;
}
.nav-footer ul{
  pointer-events: none;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-footer li:first-child::before{
  content : "";
  position: absolute;
  right: 1%;
  top: 15%;
  height: 70%;
  width: 2px;
  border-right:1px solid #9A9A9A;
}

/*Log-in & Sign-up page*/
.page-header{
  border: none;
}
.user-page .form-horizontal{
  width: 600px;
  margin: 0 auto;
  border-top: solid 1px #eee;
  padding: 35px;
}

/*Bootstrap-@media*/
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
      #carousel-content{
        width: 60%;
      }
    }
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      #carousel-content{
        width: 80%;
      }
    }
    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      #carousel-content{
        width: 100%;
      }
      body{
        font-size: 140%;
        position: relative;
      }

      .carousel-item{
        width: 100%;
      }
      #nav-dropdown{
        background-color: rgba(33,33,33 ,0.7);
      }
      #nav-dropdown ul{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .user-page .form-horizontal{
        width: 400px;
      }
      .content-logo{
        top: 10%;
        left: 50%;
        transform: translate(-50%,0);
      }
    }
    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
      #carousel-content{
        width: 100%;
        padding: 10px 20px;
      }
      body{
        font-size: 120%;
      }
      .carousel-item{
        width: 100%;
      }
      .carousel-item .title img{
        display: none
      }
      .user-page .form-horizontal{
        width: 320px;
      }
    }
    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
      #carousel-content{
        width: 100%;
        padding: 10px 20px;
      }
      body{
        font-size: 90%;
      }

      .carousel-item   .title img{
        display: none
      }
      .user-page .form-horizontal{
        padding: 10px 10px;
        width: 90%;
      }
    }
