body{
  font-size:140%;
  width: 100%;
  height: 100vh;
  background-image: url("img/homepage.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  overflow: hidden;
  color: #ffffff;
  transition: all 0.1s;
}
a,a:visited, a:active{
  color: #FFFFFF;
  cursor: pointer;
}

.navbar-default{
  height: 10%;
  margin: 0;
  border: 0;
  background-color: transparent;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
  color: #ffffff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>.active>a:hover{
  color: #c62828;
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a{
  color: #b71c1c;
  background-color: transparent;
}
.header{
  padding: 10px 30px;
  font-size: 1.1em;
  position: relative;
  z-index: 2;
}

.header .logo{
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
}
.header ul{
  font-weight: 500;
  font-size: 0.8em;
  position: relative;
}
.header .nav-button{
  border: 0;
  width: 50px;
}
.content{
  height: 85%;
  position: relative;
  z-index: 1;
  margin: 0;
}
.content-logo{
  position: absolute;
  top: 13%;
  font-size: 2.4em;
}
.content, .carousel-item, #carousel-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#carousel-content{
  width: 50%;
  height: 80%;
  position: relative;
  padding: 50px 80px;
  justify-content: center;
}
#carousel-content .carousel-indicators li {
  margin: 0 3px;
  opacity: 0.7;
}
.carousel-item .title{
  font-size: 1.9em;
}
.carousel-item .title img{
  margin: 10px;
  display: inline-block;
  width: 30px;
}
.carousel-item .text-content{
  margin: 0 25px;
  word-wrap: break-word;
  font-size: 1.2em;
}
.carousel-control {
  height: 20%;
  background-image:none !important;
  filter:none !important;
  top: 45%;
}
.carousel-control .glyphicon.arrow-icon{
  color: #e53935;
}
#carousel-content .left-arrow{
  left: -5%;
}
#carousel-content .right-arrow{
  left:90%;
}
.content .signup-btn{
  width: 200px;
  height: 10%;
  background-color: #e53935;
}
footer{
  background-color: transparent;
  height: 5%;
  position: relative;
}
.nav-footer ul{
  pointer-events: none;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-footer li:first-child::before{
  content : "";
  position: absolute;
  right: 1%;
  top: 15%;
  height: 70%;
  width: 2px;
  border-right:1px solid #9A9A9A;
}

/*Log-in page*/
#login-page .form-horizontal{
  width: 600px;
  margin: 0 auto;
}


/* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
      body{
        font-size: 120%;
      }
    }
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      body{
        font-size: 100%;
      }
    }
    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      #carousel-content{
        width: 100%;
      }
      body{
        font-size: 140%;
      }
      .carousel-item{
        width: 100%;
      }
      #nav-dropdown{
        background-color: rgba(33,33,33 ,0.7);
      }
      #nav-dropdown ul{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      #login-page .form-horizontal{
        width: 400px;
      }
    }
    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
      #carousel-content{
        width: 100%;
      }
      body{
        font-size: 100%;
      }
      .carousel-item{
        width: 100%;
      }
      .carousel-item .title img{
        display: none
      }
      #login-page .form-horizontal{
        width: 400px;
      }
    }
    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
      #carousel-content{
        width: 100%;
      }
      body{
        font-size: 90%;
      }
      .carousel-item{
        width: 100%;
      }
      .carousel-item   .title img{
        display: none
      }
      #login-page .form-horizontal{
        width: 280px;
      }
    }
