extends layout

block content
  link(rel='stylesheet', href='/css/lib/light-bootstrap-dashboard.css')
  div(id='react-app')
  script(src='/js/socket.io.js')
  script(type='text/javascript' src='/js/bundle.js')
