.nav-bar{
  position: 'absolute';
  top: 0;
  right: 0;
  left: 0;
}
.notification{
  padding-top: '14px';
  margin-left: '15px';
}
.align{
  position: 'absolute';
  right: '30px';
}
.username{
  fontSize: '15px';
}
