body{
  background-color: #E4E7F0;
  height: 100vh;
  position: relative;
  font-size: 100%;
}
.header, #wrapper, #sidebar-wrapper, #page-content-wrapper{
  padding: 0;
  margin:0 ;
}
.container-fluid{
  padding: 0;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
a:active. a:focus{
  text-decoration: none;
}
#wrapper, #page-content-wrapper, .page-content{
  height: 100%;
}
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}
#wrapper.active {
  padding-left: 0;
}
#wrapper.active #sidebar-wrapper {
  left: 0;
}
/*Sidebar*/
#sidebar-wrapper {
  margin-left: -250px;
  top: 0;
  left: 250px;
  width: 250px;
  background-color: #353D64;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  z-index: 3;
  transition: all 0.4s ease 0s;

}
.sidebar{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F9F7FE;
}
#bodyClick{
  background-color: #000;
  opacity: 0;
  position: fixed;
  top: 0;
  left: auto;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
}
.sidebar .logo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
}
.siderbar .logo h1{
  margin: 0;
  font-weight: bold;
}
/*----------------------------------------------*/
/*Header*/
.header.navbar{
  background-color: #F9F9F9;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.header.navbar .sidebar-toggle{
  font-size: 30px;
  color: #373F42;
}
.header.navbar .sidebar-toggle:focus, .header.navbar .sidebar-toggle:focus:active{
  border: none;
  box-shadow: none;
}
.header.navbar .navbar-brand{
  color: #6C6C6C;
  font-weight: bold;
  font-size: 15px;
}
.header.navbar .navbar-brand a{
  pointer-events: none;
  color:  #373F42;
}
.userControl{
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}
.userControl img{
  width: 30px;
  border-radius: 50%;
  margin: 0 10px;
}
.userControl .user-action i{
  font-size: 20px;
  color: #373F42;
  margin: 5px;
}
.search-box{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  height: 60%;
  width: 50%;
}
.search-box input{
  background: transparent;
  border: none;
  height: 100%;
  font-size: 20px;
  width: 100%;
}
.search-box i {
  position: absolute;
  left: 80%
}
/*----------------------------------------------*/

/*Page Content*/
#page-content-wrapper{
  height: 100%;
  transition: all 0.4s ease 0s;

}
.content-panel{
  padding: ;
  height: 90%;
}
.list-container{
  display: flex;;
  align-items: center;
  width: 100%;
  height: 7%;
  background: #FEFEFF;

}
.list-container li{
  height: 100%;
  border-right: 2px solid #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  font-weight: bold;
  font-size: 1.4em;
}
.list-container i{
  position: absolute;
  padding-left: 15px;
  font-size: 18px;
}

/*----------------------------------------------*/
/*task*/
.task-container{
  height: 83%;
}
.task{
  display: flex;
  align-items: center;
  background: #ffffff;
  width: 25%;
  margin: 20px;
  height: 20%;
  box-shadow: 1px 1px 5px #b3b3b3;
}
.task-content{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.task-tag-color{
  width: 3px;
  background-color: blue;
  height: 90%;
  margin: 5px;
  align-self: flex-start;
  opacity: 0.4;
}
.task-text-header{
  display: flex;
  font-size: 1.3em;
}
.task-text-header .date{
  margin: 0 5px;
}
.task-text-header .by-user{
  font-weight: bold;
}
.task-content .task-text{
  font-size: 1.2em;
  margin: 0 5px;
}
/*----------------------------------------------*/

@media (max-width:767px) {
  .task{
    width: 33%;
  }
  }
}
