@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400&subset=vietnamese');
*{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style-type: none;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
a,a:hover,a:active,a:visited,a:focus{
  text-decoration:none;
	color: #616161;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
}
textarea:focus, input:focus{
    outline: none;
}
body{
	background-color: #F4F4F4;
}
.flex-row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row-start{
	display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-column-center{
	display: flex;
  flex-direction: column;
	align-items: center;
}
.position-vertical{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
}
/*interface*/
.interface{

}

/*Side-bar*/
.sidebar{
	background-color: #343645;
	height: 100vh;
	padding: 0;
}
.userControl{
	background-color: #A589D4;
	height: 11%;
}
.userControl img{
	width: 60px;
	border-radius: 50%;
	margin-left: 5px;
}
.userControl a{
	position: relative;
	margin-left: 10px;
	color: #FAEDFF;
}
.userControl a svg{
	left: 85px;
}
.sidebarComponent{
	height: 89%;
}
.sidebarComponent ul{
	height: 40vh;
	margin-top: 10px;
}
.sidebarComponent > ul > li{
	flex-grow: 1;
}
.sidebarComponent ul li a{
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 14px;
	text-transform: uppercase;
	color: #91939F;
	font-weight: bold;
}
.sidebarComponent ul li a i{
	font-size: 30px;
	margin: 0 25px;
}
/*Content*/
.content{
	height: 100vh;
	padding: 0;
}
	/*Header*/
.header{
	height: 11%;
	background-color: #ffffff;
	box-shadow: 0px 2px 5px #E9E9E9;
	position: relative;
}
.header .sidebarToggle{
	font-size: 30px;
	color: #91939F;
	margin: 0 15px;
}
.header span{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #91939F;
}
.headerButton{
	right: 50px;
	background-color: #343545;
}
/*Content-box*/
.content-box{
	height: 89%;
	padding: 15px 15px 15px 0;
}
.content-box > div{
	height: 70%;
	padding: 0;
}
.friendList, .activities{
 	margin: 0 0 0 15px;
	height: 100%;
	background-color: #ffffff;
	box-shadow: 2px 2px 5px #E9E9E9;
}
.friendList .title, .activities .title{
	height: 15%;
	padding-left: 25px;
	position: relative;
	display: flex;
	align-items: flex-end;
}
.friendList .title span, .activities .title span{
	font-size: 20px;
	text-transform: uppercase;
	padding-bottom: 5px;
	color: #91939F;
}
.friendList .title:before, .activities .title:before{
	content : "";
  position: absolute;
  left    : 25px;
  bottom  : 0;
  height  : 1px;
  width   : 80%;
  border-bottom: 2px solid #F4F4F4;
}
.activities .title:before{
	content : "";
  position: absolute;
  left    : 25px;
  bottom  : 0;
  height  : 1px;
  width   : 95%;
  border-bottom: 2px solid #F4F4F4;
}
.friendList ul{
	height: 70%;
	padding-left: 10%;
	padding-top: 5px;
}
.friendList ul > li, .friend-info > span{
	flex-grow: 1;
}
.friendList ul > li > img{
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
}
.friendInfo{
	height: 100%;
}
.friendInfo .name{
	font-weight: bold;
}
.friendInfo .place{
	color: #B3B3B3;
}
.friendButton{
	height: 15%;
}
.friendButton a{
	width: 150px;
	background-color: #CFCFCF;
}
